{
  // 自动修复eslint的错误
  "presets": [
    ["@babel/preset-typescript"],
    [
      "@babel/preset-env",
      {
        // 按需加载
        "useBuiltIns": "usage", // "entry",
         // 如果 Babel 加载模块时已经转换了 ESM，则会导致 Tree Shaking 失效；最新版本的Babel自动关闭了 ESM 转换插件
          // ['@babel/preset-env', { modules: 'commonjs' }] // 强制将ESM转换为CommonJS，tree shaking失效
          // ['@babel/preset-env', { modules: false }] // 强制关闭转换插件
          // 也可以使用默认配置，也就是 auto，这样 babel-loader 会自动关闭 ESM 转换
        "modules": "auto", // false
        // 开启浏览器兼容 polyfills，会根据browserslist配置
        "targets": {
          "browsers": [">1%", "last 2 versions", "not ie < 10"]
        },
        "loose": true,
        "debug": true,
        // 引入需要的库，需要安装对应版本的 core-js@3
        // "corejs": 3,
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
      // "@babel/plugin-proposal-export-namespace-from",
      // "@babel/plugin-proposal-throw-expressions",
      // "@babel/proposal-object-rest-spread",
      // "@babel/plugin-transform-async-to-generator",
		  // "@babel/plugin-transform-arrow-functions",
    [
      "@babel/plugin-transform-runtime",
      {
        // 指定core-js版本
        "corejs": {
          "version": 3,
          "proposals": true
        },
        "useESModules": true
      }
    ],
    //只需从 antd 引入模块即可，无需单独引入样式. babel-plugin-import 会帮助你加载 JS 和 CSS
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es", // default: lib
        "style": true // "css" // `style: true` 会加载 less 文件
      },
      "antd"
    ],
    [
      "styled-jsx/babel", { 
        "plugins": ["styled-jsx-plugin-sass"] 
      }
    ],
    // ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    // Applies the react-refresh Babel plugin on non-production modes only
    // mode !== "production" && "react-refresh/babel",
    "react-refresh/babel"
  ],
  "ignore": []
}
